:root {
    --main_color: #212121;
    --contacts-color: #757575;
    --header-title-color: #ffffff;
    --main-btn-color: #ffffff;
    --accent-color: #2196F3;
    --portfolio-btn: #F5F4FA;
    --typical-margin: 30px;
    --header-margin: 50px;
}